<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MSSG</title>
</head>
<body>
  <h1>MSSG</h1>
  Message: ${data.message}
</body>
</html>